.form-group {
	margin: 5px;
}

.details-panel {
	display: flex;
	margin: 5px;
}

.efforts,
.priority {
	display: flex;
	margin: 5px;
	justify-content: space-between;
	align-items: center;
}

.efforts label,
.priority label {
	font-size: 0.75rem;
}

.efforts Input,
.priority .select {
	width: 70%;
}
